.productManger {
    display: flex;
}

.btnField {
    width: 40%;
    height: 800px;
    background-color: rgb(1, 26, 41);
    padding: 20px;
}
.fromFiled input{
    border: none;
    border-top:1px solid grey;
    padding: 5px 20px;
    border-radius: 5px;
    

}
form{
    display: grid;
}
.fromFiled{
    background-color: rgb(246, 242, 242);
    margin: 20px;
    padding: 20px;
    border-radius:15px ;
}

.linkBtn {
    margin-top: 50px;
}

.btnField h5:hover {
    background-color: rgba(165, 164, 164, 0.719);
}



.addProduct {
    background-color: rgba(159, 230, 241, 0.281);
}

.uploadBtn {
    display: flex;
    gap: 20px;
}

.uploadImg {
    margin-top: 20px;
}

.tableItem {
    align-items: center;
}

.productItems {
    align-items: center;
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}

.addProducts {
    background-color: rgba(159, 230, 241, 0.281);
}

.tablesItem th {
    padding: 20px;
    margin: 90px;
}

#uploadImg {
    display: none;
}

label {
    border: 1px solid green;
    color: green;
    justify-content: center;
    padding: 5px 10px;
    font-size: 15px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}
label:hover{
 
    color: white;
    background-color: green
}
h5{
    margin: 30px;
}
.managePd{
    margin: 20px;
    padding: 30px;
    background: rgb(246, 245, 245);
    border-radius: 20px;
}
